.fixed-height { 
    position: sticky; 
    top: 0; 
    z-index: 1; 
    background:#fff; 
    overflow: auto; 
    height: 85px;
    outline: 1px solid #dee2e6;
}

[class^="bi-"]::before, [class*=" bi-"]::before {
    line-height: 1.25;
}

.container-fluid {
    padding-left: 0;
}

.greenicon {
    color:green;
}

.yellowicon {
    color:orange;
}

.redicon {
    color:#e21f26;
}

.blackicon {
    color: black;
}

.flag {
    max-height: 20px;
    max-width: 34px; 
    object-fit: fill;
}

.companyName {
    font-size: small;
    color: #6c757d;
    font-style: italic;
}

.logo{
    padding: 6rem 0rem;
}

#loading {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0.7;
    background-color: #fff;
    z-index: 99;
  }
  
  #loading-image {
    z-index: 100;
  }

.fixed-left-width {
    flex: 0 0 300px;
}

td.col-1, th.col-1 {
    width: 8%; 
}
  
  td.col-2, th.col-2 {
    width: 16%; }

a#backToTop {
    width:40px;
    height:40px;
    opacity:0.5;
    position:fixed;
    bottom:20px;
    left:97%;
    display:none;
    text-indent:-10000px;
    outline:none !important;
    background-image: url('/images/arrow-up-square-fill.svg');
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 1;
}