.fixed-height { 
    position: sticky; 
    top: 0; 
    z-index: 1; 
    background:#fff; 
    overflow: auto; 
    height: 85px;
    outline: 1px solid #dee2e6;
}

[class^="bi-"]::before, [class*=" bi-"]::before {
    line-height: 1.25;
}

.container-fluid {
    padding-left: 0;
}

.greenicon {
    color:green;
}

.yellowicon {
    color:orange;
}

.redicon {
    color:#e30613;
}

.blackicon {
    color: black;
}

.flag {
    max-height: 20px;
    max-width: 34px; 
    object-fit: fill;
}

.companyName {
    font-size: small;
    color: #6c757d;
    font-style: italic;
}

.logo{
    padding: 6rem 0rem;
}

#loading {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0.7;
    background-color: #fff;
    z-index: 99;
}
  
  #loading-image {
    z-index: 100;
}

.fixed-left-width {
    flex: 0 0 300px;
}

td.col-1, th.col-1 {
    width: 8%;
}
  
td.col-2, th.col-2 {
    width: 16%; 
}

a#backToTop {
    width:40px;
    height:40px;
    opacity:0.5;
    position:fixed;
    bottom:20px;
    left:97%;
    display:none;
    text-indent:-10000px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='28' height='28' fill='white' class='bi bi-arrow-up' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M8 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L7.5 2.707V14.5a.5.5 0 0 0 .5.5z'/%3E%3C/svg%3E");
    background-size: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #212529;
    z-index: 1;
}

a#backToTop:hover ,
.icon-arrow:focus {
    background-color:#e30613;
    opacity: 1;
}

.btn-outline-danger {
    color: #e30613;
    border-color: #e30613;
}

.btn-outline-danger:hover {
    color: white;
    background-color: #e30613;
    border-color: #e30613;
}

.dropdown-item.active, .dropdown-item:active {
    color: #fff;
    text-decoration: none;
    background-color: #4c4a49 !important;
}

input[type='checkbox'] {
    -webkit-appearance: none; /* necessary to override checkbox styles on OSX and iOS */
    width: 16px;
    height: 16px;
    background: #f8f9fa;
    border-radius: 4px;
    border: solid 1px;
    border-color: #4c4a49;
}
  
  input[type='checkbox']:checked {
    background: #e30613;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='white' class='bi bi-check' viewBox='0 0 16 16'%3E%3Cpath d='M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z'/%3E%3C/svg%3E");
    background-position: center;
    border-radius: 4px;
    border: solid 1px;
    border-color: #e30613;
}